@page
@model EmployeeManagementSystem.Pages.Admin.DashboardModel
@{
}
<p>Welcome, @User.Identity.Name! You have Admin access.</p>

<a class="btn btn-info" href="/Admin/ManageDepartment">Manage Departments</a>
<a class="btn btn-info" href="/Account/Register">Register Users</a>
<a class="btn btn-info" href="/Account/Users">Manage Users</a>


